<!-- <h1 class="text-center">List Department</h1>


<h3 class="text-center" *ngFor="let dep of departments">
    {{dep.idDepart}} 
    {{dep.nomDepart}} 
</h3>
 -->


 <h1 class="text-center">List Department</h1>


 <h3 class="text-center" *ngFor="let dep of departments">
     {{dep.idDepart}} 
     {{dep.nomDepart}} 
 </h3>
    <div class="btn" class="text-center">
        <p>hello world this is buttons edit and delete. Clicker surle boutton ...</p>
        <button class="btn btn-primary" >edit</button>&nbsp;
        <button class="btn btn-danger" >delete</button>
    </div>
